# MongoDB
MONGODB_URI=mongodb://localhost:27017/manikganj-citizen-service

# JWT Secret
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production

# Softulas SMS Gateway
SMS_BASE_URL=https://api.smsgateway.com.bd/api
SMS_CLIENT_ID=your-sms-client-id
SMS_API_KEY=your-sms-api-key

# Cloudinary
CLOUDINARY_CLOUD_NAME=your-cloudinary-cloud-name
CLOUDINARY_API_KEY=your-cloudinary-api-key
CLOUDINARY_API_SECRET=your-cloudinary-api-secret
CLOUDINARY_UPLOAD_PRESET=your-upload-preset

# Admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=Rifat4321@

# Next.js
NEXT_PUBLIC_APP_URL=http://localhost:3000
